body {
  background-image: url("img/the_wall.jpeg");
  font-family: "Ubuntu", sans-serif;
}

h1 {
  text-align: center;
  font-family: "Uncial Antiqua", cursive;
  font-size: 50px;
}

.got-characters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.character {
  background-color: #222831;
  border: solid black 3px;
  margin: 15px auto;
  width: 425px;
}

h3 {
  color:white;
  text-align: center;
  font-size: 30px;
}

img {
  height: 300px;
  width: auto;
  display: block;
  margin: 10px auto;
  border: 2px solid white;
}

.more-info {
  display: block;
  margin: 20px auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 18px;
  
}

.info{
  color:white;
  display: none;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  margin: 5% 2%;
}
